body {
  font-family: Arial, sans-serif;
  background-color: #343a40;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.category-title-box {
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.category-title-box h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.category-title-box p {
  font-size: 1rem;
  color: #555;
}

.category-box .card {
  background-color: #ffffff; 
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.category-box .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.category-box .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.category-box .card-body {
  padding: 1rem;
}

.category-box .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #343a40;
}

.category-box .card-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.category-box .btn-warning {
  background-color: #ffc107;
  border: none;
  font-weight: bold;
}

.category-box .btn-warning:hover {
  background-color: #e0a800;
}


@media (max-width: 768px) {
  .category-title-box {
    margin-bottom: 15px;
  }

  .category-box .card {
    margin-bottom: 20px;
  }
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler-icon {
  position: relative;
  width: 30px;
  height: 21px;
}

.navbar-toggler-icon::before, 
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 0;
}

.navbar-toggler-icon::before {
  top: 0; 
}

.navbar-toggler-icon::after {
  bottom: 0;
}

.navbar-toggler-icon span {
  position: absolute;
  top: 9px;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 0;
}

@media (max-width: 991px) {
  .navbar .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar-brand {
    margin-right: auto;
  }

  .navbar-toggler {
    display: block;
    margin-left: auto; 
  }

  .navbar-collapse {
    text-align: right;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .navbar-collapse.show {
    max-height: 500px;
  }
}



